/* ----------- Global Reset -------------- */
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

/* ---------- Header Section ------------- */

.headerText {
    color: black;
}

header {
    text-align: center;
    color: white;
    background-color: rgb(255, 255, 255);
    height: 19vh;
    margin-top: 4%;
    margin-bottom: 7%;
}

#first {
 
    font-size: 8vh;
    font-family: 'Kumar One Outline', cursive;
    margin-top: 3%;
    font-weight: bold;
    color: rgb(255, 94, 0);
}

#logoImage {
    width: 20%;
}

/* Current Train Schedule */

.head {
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 94, 0);
    color: white;
}